body{
	background-color:#006699;
	margin-top:2em;
	margin-left:8em;
	margin-right:8em;
	margin-bottom:2em;
}

.home{
	display:grid;
	background-color:white;
	grid-template-columns:1fr;
	grid-template-rows:auto auto auto;
}

.banner{
	width:100%;
}

.img_container{
	position:relative;
	width:350px;
	height:200px;
	left:50%;
	transform:translateX(-50%);
}

.img_container2{
	position:relative;
	width:210px;
	height:313px;
	left:50%;
	transform:translateX(-50%);
}

.img_container3{
	position:relative;
	width:370px;
	height:300px;
	left:50%;
	transform:translateX(-50%);
}

.img_container4{
	position:relative;
	width:100px;
	height:98px;
	left:50%;
	transform:translateX(-50%);
}

.ibm_ad{
	width:100%;
	height:100%;
	position:absolute;
	z-index:-1;
}

.ibm_hq{
	width:100%;
	height:100%;
	position:absolute;
	z-index:-1;
}

.overlay{
	position:absolute;
	width:100%;
	height:100%;
	left:50%;
	transform:translateX(-50%);
	transition:opacity 1s;
	opacity:0;
	background-color:white;
}

.rollover{
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	top:50%;
	color:black;
	font-size:.8em;
}


.rollover2{
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	top:50%;
	color:black;
	font-size:.6em;
}

.overlay:hover{
	opacity:.8;
}

header{
	text-align:center;
}


ul{
	list-style-type:none;
	padding:0;
	margin-top:0;
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr 1fr;
	grid-column-gap:1px;
	grid-template-rows:auto;
	border-top:1px solid white;
}

ul li{
	text-align:center;
	background-color:black;
	padding:.25em;
	position:relative;
}

.front{
	position:relative;
}

.dropdown_button{
	color:white;
	font-family:Impact, Arial, sans-serif;
}

.dropdown{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:auto;
	background-color:black;
	opacity:0;
	z-index:1;
}

.dropdown:hover{
	opacity:1;
}

.div1{
	border-bottom:1px solid white;
	padding:.25em;
}

.div2{
	border-left:1px solid white;
	border-right:1px solid white;
	border-bottom:1px solid white;
	padding:.25em;
}

ul li a{
	color:white;
	text-decoration:none;
	font-family:Impact, Arial, sans-serif;
}

ul li a:hover{
	text-decoration:underline;
}

article{
	font-family:Arial, sans-serif;
}


article h2{
	text-align:center;
	padding-left:2em;
	padding-right:2em;
	font-family:Impact, Arial, sans-serif;
}

article p{
	padding-left:2em;
	padding-right:2em;
	line-height:1.6;
}

article .img_pad{
	padding-top:1em;
}

article .bottom_pad{
	padding-bottom:2em;
}

.ref{
	padding-left:4em;
	text-indent:-2em;
	padding-right:2em;
	padding-bottom:2em;
	line-height:1.6;
}

.iframe_article{
	text-align:center;
	padding-bottom:2em;
}

.audio_article{
	text-align:center;
	padding-bottom:2em;
}
h3{
	padding-left:2em;
	padding-right:2em;
	font-family:Arial, sans-serif;
}

.extra{
	padding-left:2em;
	padding-right:2em;
	text-align:center;
}

@media only screen and (max-width: 1024px){
	body{
		margin:10px;
	}
	.banner{
		width:100%;
	}	
}

@media only screen and (max-width:768px){
	body{
		margin:10px;
	}
	.banner{
		width:100%;
	}
	.img_container{
		width:250px;
		height:191px;
	}
	iframe{
		width:360px;
		height:275px;
	}
	
}
